.footer {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.footer-container {    
    border-radius: 24px 24px 0 0;
    background-color: #1b414b;
    padding: 40px 30px 20px 30px;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        padding-top: 50px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .footer-wrap {
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 96px;
    }
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .logo-nav-container {
        gap: 110px;
    }
}

@media only screen and (min-width: 1280px) {
    .logo-nav-container {
        gap: 330px;
    }
}

.footer .nav-list {
    display: flex;
    gap: 4px;
}

.footer .soc-list {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .footer .soc-list {
        margin: 0;
    }
}

.footer .nav-link {
    background-color: rgba(251, 251, 251, 0.3);
}

.footer .nav-link:hover,
.footer .nav-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

.footer .soc-icon {
    fill: #fbfbfb;
}

.footer .soc-icon:hover,
.footer .soc-icon:focus {
    fill: rgba(251, 251, 251, 0.8);
}

.footer-motto {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 82px;
}

@media only screen and (min-width: 768px) {
    .footer-motto {
        font-size: 32px;
        max-width: 640px;
        margin-bottom: 99px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-motto {
        max-width: 693px;
    }
}

.footer-small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: rgba(251, 251, 251, 0.4);
    padding: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-small-text {
        font-size: 14px;
    }
}

.privacy-police {
    margin-left: 20px;
}