.header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

@media only screen and (min-width: 768px) {
    .header {
        top: 32px;
    }
}

.header-container {
    min-width: 335px;
    background-color: #fbfbfb;    
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .header-container {
        min-width: 704px;
        padding: 0 28px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-container {
        min-width: 1080px;
        padding: 0 30px;
    }
}

.header .logo {
    color: #1b414b;
    padding: 12px 0;
}

.header .logo:hover,
.header .logo:focus {
    color: #062730;
}

.header .nav,
.header .soc-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header .nav {
        display: block;
    }
    .header .nav-list {
        display: flex;
        gap: 4px;
    }
    .header .nav-link {
        background-color: rgba(27, 65, 75, 0.5);
    }
    .header .nav-link:hover,
    .header .nav-link:focus {
        background: #1b414b;
    }
    .header .soc-list {
        display: flex;
        gap: 8px;
    }

    .header .soc-icon {
        fill: #1b414b;
    }

    .header .soc-icon:hover,
    .header .soc-icon:focus {
        fill: #062730;
    }
}

.open-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.open-menu-icon {
    stroke: #1b414b;
    display: block;
}

.open-menu-icon:hover,
.open-menu-icon:focus {
    stroke: #062730;
}

.close-menu-icon {
    display: none;
}

@media only screen and (min-width: 768px) {
    .open-menu-btn {
        display: none;
    }
}