.rent-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
}

@media only screen and (min-width: 1280px) {
    .rent-container {
        flex-direction: row;
    }
}

.rent-form-field {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .rent-form-field {
        width: 473px;
        margin: 0 auto;
    }
}

.rent-pic {
    border-radius: 24px;
    width: 100%;
}

.rent-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.rent-form-label {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
    .rent-form-label {
        font-size: 48px;
    }
}

.rent-form-input {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    background-color: transparent;
    color: #fbfbfb;
    width: 100%;
}

.rent-form-input::placeholder {
    color: rgba(251, 251, 251, 0.4);
}

.rent-submit-button {
    border-radius: 15px;
    width: 122px;
    height: 46px;
    background-color: #1b414b;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;

}

.rent-submit-button:hover,
.rent-submit-button:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}