.reviews-section {
    font-family: inherit;
    padding-bottom: 150px;
}

.reviews-title {
    width: 854px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin: 0 auto;
    margin-bottom: 25px;
}

.rev-text {
    width: 571px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
    margin: 0 auto;
    margin-bottom:75px;
}


.rev-cards {
    display: flex;
    gap: 26px;
}

.rev-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 24px;
}

.rev-pic {
    margin: 0 auto;
    border-radius: 72px;
    width: 56px;
    height: 56px;
}

.rev-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
}

.rec-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}