.yachts-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media only screen and (min-width: 768px) {
    .yachts-container {
        gap: 0;
    }
}

.yachts-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .yachts-section-title {
        width: 645px;
        margin-bottom: 75px;
        font-size: 48px;
    }
}

@media only screen and (min-width: 1280px) {
    .yachts-section-title {
        width: 714px;
    }
}

.yacht-cards {    
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .yacht-cards {
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        gap: 32px;
        /* flex-wrap: wrap; */
    }
}

.yacht-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
    border-radius: 24px;
}

@media only screen and (min-width: 768px) {
    .yacht-card {
        min-width: 336px;
    }
}

@media only screen and (min-width: 1280px) {
    .yacht-card {
        min-width: 377px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .yacht-card:last-child {
            display: none;
        }
}

.yacht-card-pic {
    width: 100%;
    margin-bottom: 32px;
}

.list-item-pic {
    margin: 0;
    padding: 0;
}

.card-caption {
    display: flex;
    flex-direction: column;
}

.caption-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.card-caption::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(4, 3, 6, 0.1);
    margin-bottom: 16px;
}

.yacht-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.yacht-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(4, 3, 6, 0.4);
    margin: 0;
}

.yacht-info {
    display: flex;
    justify-content: space-between;
}

.yacht-features {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(4, 3, 6, 0.4);
}

.yacht-characteristics {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.yacht-rental-button {
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    padding-block: 16px;
    padding-inline: 40px;
    width: 179px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: block;
    margin: 0 auto;
}

.yacht-rental-button:hover,
.yacht-rental-button:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}